@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #12181b;
  background-image: url("/Sprinkle.svg");
}

nav {
  margin: 50px;
}

nav h1 {
  padding: 10px;
  font-size: 2.5em;
  background-color: #6675ff;
  width: fit-content;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

form {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f222a;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

form input {
  all: unset;
  width: 600px;
  height: 50px;
  background-color: whitesmoke;
  border: 2px solid grey;
  border-radius: 10px;
  color: black;
  font-size: 1.5em;
  padding-left: 20px;
  margin-top: 50px;
}

form h1 {
  margin-top: 20px;
}

button {
  all: unset;
  padding: 10px;
  font-size: 1.5em;
  background-color: #6675ff;
  text-align: center;
  font-weight: bold;
  width: 300px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 60px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard h1 {
  font-size: 3.5em;
  color: #6675ff;
}
